.blue {
  color: #47a9e1;
}
.magenta {
  color: #d83577;
}
.red {
  color: #dc0000;
}
.yellow {
  color: #eeb51c;
}
.orange {
  color: #d45000;
}
.violet {
  color: #8b67ba;
}
.bg-blue {
  color: #ffffff;
  background: #47a9e1;
}
.bg-magenta {
  color: #ffffff;
  background: #d83577;
}
.bg-red {
  color: #ffffff;
  background: #dc0000;
}
.bg-yellow {
  color: #ffffff;
  background: #eeb51c;
}
.bg-orange {
  color: #ffffff;
  background: #d45000;
}
.bg-violet {
  color: #ffffff;
  background: #8b67ba;
}
.black {
  color: #000000;
}
.grey {
  color: #555555;
}
.dkgrey {
  color: #2a2a2a;
}
.ltgrey {
  color: #aaaaaa;
}
.xltgrey {
  color: #cccccc;
}
.white {
  color: #ffffff;
}
.basefont,
.arial {
  font-family: "Arial", sans-serif;
}
.raleway-thin {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
.raleway,
.sans {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.raleway-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.raleway-med {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
small,
.small {
  font-size: 12px;
}
ul {
  padding: 0px;
}
ul ul {
  margin-left: 20px;
}
ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 17px;
  margin-bottom: 10px;
  line-height: 16px;
}
ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 30px;
  margin-bottom: 10px;
  line-height: 16px;
}
.list-none {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}
.rs {
  border: none;
  background: none;
  background-image: none;
}
.border {
  border: 1px solid #aaaaaa;
}
strong,
b,
.strong,
.bold {
  font-weight: 700;
  font-family: inherit;
}
strong,
b {
  font-weight: bold;
  font-family: inherit;
}
.normal {
  font-style: normal;
}
em,
i,
.em {
  font-style: italic;
}
.regular,
.reg {
  font-size: 1em;
  line-height: 1.3em;
}
.med {
  font-size: 1.3em;
  line-height: 1.3em;
}
.large {
  font-size: 1.6em;
  line-height: 1.25em;
}
.xlarge {
  font-size: 2.2em;
  line-height: 1.25em;
}
.xxlarge {
  font-size: 3.2em;
  line-height: 1.25em;
}
.small {
  font-size: 0.75em;
}
.xsmall {
  font-size: 0.5em;
}
.ab {
  position: absolute;
}
.rel {
  position: relative;
}
.fix {
  position: fixed;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.none,
.elements-invisible {
  display: none;
}
.td-none,
a {
  text-decoration: none;
}
.td-under {
  text-decoration: underline;
}
.upper {
  text-transform: uppercase;
}
.caps {
  text-transform: capitalize;
}
.lower {
  text-transform: lowercase;
}
.tt-none {
  text-transform: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.cb {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.cn {
  clear: none;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.ti {
  text-indent: -5000px;
}
.ti0 {
  text-indent: 0px;
}
.vtop,
.vtop td,
.vtop th {
  vertical-align: top;
}
.vmid,
.vmid td,
.vmid th {
  vertical-align: middle;
}
.vbtm,
.vbtm td,
.vbtm th {
  vertical-align: bottom;
}
.w5 {
  width: 5%;
}
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w33 {
  width: 33.3%;
}
.w35 {
  width: 35%;
}
.w40 {
  width: 40%;
}
.w45 {
  width: 45%;
}
.w50 {
  width: 50%;
}
.w55 {
  width: 55%;
}
.w60 {
  width: 60%;
}
.w65 {
  width: 65%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w85 {
  width: 85%;
}
.w90 {
  width: 90%;
}
.w95 {
  width: 95%;
}
.w100 {
  width: 100%;
}
.bs {
  -moz-box-shadow: 0px 2px 3px #777;
  -webkit-box-shadow: 0px 2px 3px #777;
  box-shadow: 0px 2px 3px #777;
}
.p0 {
  padding: 0px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p25 {
  padding: 25px;
}
.p30 {
  padding: 30px;
}
.p35 {
  padding: 35px;
}
.p40 {
  padding: 40px;
}
.p45 {
  padding: 45px;
}
.p50 {
  padding: 50px;
}
.auto {
  margin: 0 auto;
}
.m0 {
  margin: 0px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #000000;
  line-height: 1.3em;
  font-size: 14px;
}
hr {
  height: 3px;
  border: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
h1 {
  font-size: 3.2em;
  line-height: 1.25em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #2a2a2a;
  text-align: center;
  margin: 0 0 1em;
}
h2 {
  font-size: 1.6em;
  line-height: 1.25em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0 0 1.25em;
}
h3,
h4,
h5 {
  font-size: 1em;
  line-height: 1.3em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
a {
  color: #47a9e1;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
  background: #47a9e1;
}
#page {
  width: 100%;
  max-width: 100%;
}
#main {
  padding-top: 0px;
  width: 960px;
  margin: 0 auto;
}
#content {
  padding: 40px 0 0;
  min-height: 500px;
}
#header {
  width: 100%;
  background: #ffffff url(../images/header-default.jpg) no-repeat center center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 0px;
}
#header .main-menu {
  margin: 3em 0;
}
#header .main-menu h2.block-title {
  display: none;
}
#header .main-menu ul.menu {
  margin: 0px;
  padding: 0px;
}
#header .main-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  display: inline-block;
  height: 60px;
  margin: 0px;
}
#header .main-menu ul.menu li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  line-height: 60px;
  padding: 0 15px;
}
#header .main-menu ul.menu li a.services {
  padding: 0 25px 0 15px;
}
#header .main-menu ul.menu li a.home {
  display: inline-block;
  text-indent: -5000px;
  width: 217px;
  height: 60px;
  background: transparent url(../images/logo-white.svg) no-repeat;
  background-size: 217px 60px;
  padding: 0px;
}
#header .main-menu ul.menu li a.home:hover {
  background: transparent url(../images/logo-white.svg) no-repeat;
  background-size: 217px 60px;
}
#header .main-menu ul.menu li a.blog {
  padding: 0 10px 0 20px;
}
#header .main-menu ul.menu li a.about {
  padding: 0 10px;
}
#header .main-menu ul.menu li a.contact {
  padding: 0 10px;
}
#header .main-menu ul.menu li a.search {
  display: inline-block;
  text-indent: -5000px;
  width: 16px;
  height: 60px;
  background: transparent url(../images/search-white.svg) no-repeat 0px 22px;
  background-size: 16px 16px;
}
#header .main-menu ul.menu li a:hover {
  background: transparent;
}
#header .mobile-main-menu {
  position: relative;
  display: none;
}
#header .mobile-main-menu .menu-trigger {
  text-indent: -5000px;
  width: 30px;
  height: 30px;
  background: transparent url(../images/mobile-menu-icon.svg) no-repeat center center;
  background-size: 24px 24px;
  position: absolute;
  top: 12px;
  left: 10px;
  display: block;
}
#header .mobile-main-menu .logo {
  width: 170px;
  height: 47px;
  background: transparent url(../images/logo-white.svg) no-repeat;
  background-size: 170px 47px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
#header .mobile-main-menu .menu {
  display: none;
}
#header .mobile-main-menu .menu a {
  color: #ffffff;
}
#header .nav-services {
  width: 876px;
  margin: 0 auto;
  margin-bottom: 0px;
}
#header .nav-services ul.menu {
  height: 152px;
  padding: 0px;
  margin: 0px;
}
#header .nav-services ul.menu li {
  width: 116px;
  float: left;
  margin: 0 15px;
  padding: 0px;
  text-align: center;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}
#header .nav-services ul.menu li a {
  color: #ffffff;
  padding: 100px 0px 0px;
  display: block;
  width: 116px;
  letter-spacing: 0.5px;
  height: 52px;
  font-size: 14px;
  position: relative;
}
#header .nav-services ul.menu li a.innovation-consulting {
  background: transparent url(../images/icon-innovation.svg) no-repeat center top;
  background-size: 88px 88px;
}
#header .nav-services ul.menu li a.innovation-consulting .tag {
  background: #eeb51c;
}
#header .nav-services ul.menu li a.accelerated-design {
  background: transparent url(../images/icon-accelerated-design.svg) no-repeat center top;
  background-size: 88px 88px;
}
#header .nav-services ul.menu li a.accelerated-design .tag {
  background: #d45000;
}
#header .nav-services ul.menu li a.design-thinking {
  background: transparent url(../images/icon-design-thinking.svg) no-repeat center top;
  background-size: 88px 88px;
}
#header .nav-services ul.menu li a.design-thinking .tag {
  background: #dc0000;
}
#header .nav-services ul.menu li a.futures {
  background: transparent url(../images/icon-futures.svg) no-repeat center top;
  background-size: 88px 88px;
}
#header .nav-services ul.menu li a.futures .tag {
  background: #d83577;
}
#header .nav-services ul.menu li a.graphics {
  background: transparent url(../images/icon-graphics.svg) no-repeat center top;
  background-size: 88px 88px;
}
#header .nav-services ul.menu li a.graphics .tag {
  background: #8b67ba;
}
#header .nav-services ul.menu li a.events {
  background: transparent url(../images/icon-events.svg) no-repeat center top;
  background-size: 88px 88px;
}
#header .nav-services ul.menu li a.events .tag {
  background: #47a9e1;
}
#header .nav-services ul.menu li a:hover {
  text-decoration: none;
}
#header .nav-services ul.menu li a .tag {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0px;
  display: none;
}
#navigation {
  background: #111;
  height: 178px;
  position: relative;
}
#navigation .region-navigation {
  width: 876px;
  height: 152px;
  margin: 0 auto;
  padding: 26px 0px 0px;
}
#navigation .region-navigation ul.menu {
  height: 152px;
  padding: 0px;
  margin: 0px;
}
#navigation .region-navigation ul.menu li {
  width: 116px;
  float: left;
  margin: 0 15px;
  padding: 0px;
  text-align: center;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}
#navigation .region-navigation ul.menu li a {
  color: #aaaaaa;
  padding: 100px 0px 0px;
  display: block;
  width: 116px;
  letter-spacing: 0.5px;
  height: 52px;
  font-size: 14px;
  position: relative;
}
#navigation .region-navigation ul.menu li a.innovation-consulting {
  background: transparent url(../images/icon-innovation.svg) no-repeat center top;
  background-size: 88px 88px;
}
#navigation .region-navigation ul.menu li a.innovation-consulting .tag {
  background: #eeb51c;
}
#navigation .region-navigation ul.menu li a.accelerated-design {
  background: transparent url(../images/icon-accelerated-design.svg) no-repeat center top;
  background-size: 88px 88px;
}
#navigation .region-navigation ul.menu li a.accelerated-design .tag {
  background: #d45000;
}
#navigation .region-navigation ul.menu li a.design-thinking {
  background: transparent url(../images/icon-design-thinking.svg) no-repeat center top;
  background-size: 88px 88px;
}
#navigation .region-navigation ul.menu li a.design-thinking .tag {
  background: #dc0000;
}
#navigation .region-navigation ul.menu li a.futures {
  background: transparent url(../images/icon-futures.svg) no-repeat center top;
  background-size: 88px 88px;
}
#navigation .region-navigation ul.menu li a.futures .tag {
  background: #d83577;
}
#navigation .region-navigation ul.menu li a.graphics {
  background: transparent url(../images/icon-graphics.svg) no-repeat center top;
  background-size: 88px 88px;
}
#navigation .region-navigation ul.menu li a.graphics .tag {
  background: #8b67ba;
}
#navigation .region-navigation ul.menu li a.events {
  background: transparent url(../images/icon-events.svg) no-repeat center top;
  background-size: 88px 88px;
}
#navigation .region-navigation ul.menu li a.events .tag {
  background: #47a9e1;
}
#navigation .region-navigation ul.menu li a:hover {
  text-decoration: none;
}
#navigation .region-navigation ul.menu li a .tag {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0px;
  display: none;
}
#navigation.mobile .region-navigation {
  width: 100%;
}
#navigation.mobile .region-navigation ul.menu {
  height: auto;
}
#navigation.mobile .region-navigation ul.menu li {
  width: 50%;
  margin: 0 0 10px;
}
#navigation.mobile .region-navigation ul.menu li a {
  padding: 4px 8px 4px 42px;
  width: auto;
  height: 28px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
}
#navigation.mobile .region-navigation ul.menu li a.innovation-consulting {
  background-position: left center;
  background-size: 34px 34px;
}
#navigation.mobile .region-navigation ul.menu li a.accelerated-design {
  background-position: left center;
  background-size: 34px 34px;
}
#navigation.mobile .region-navigation ul.menu li a.design-thinking {
  background-position: left center;
  background-size: 34px 34px;
}
#navigation.mobile .region-navigation ul.menu li a.futures {
  background-position: left center;
  background-size: 34px 34px;
  height: 14px;
  padding: 11px 8px 11px 42px;
}
#navigation.mobile .region-navigation ul.menu li a.graphics {
  background-position: left center;
  background-size: 34px 34px;
}
#navigation.mobile .region-navigation ul.menu li a.events {
  background-position: left center;
  background-size: 34px 34px;
}
body.front #main {
  width: 100%;
}
body.front #header {
  background: #000;
  padding: 0px;
}
body.front #header .region {
  width: 100%;
  max-width: 100%;
  position: relative;
  text-align: center;
  height: 600px;
}
body.front #header #block-views-homepage-slides-block {
  width: 100%;
  position: relative;
  top: 0px;
  z-index: 2;
  height: 600px;
  margin: 0px;
  background: #000;
}
body.front #header #block-views-homepage-slides-block .view-content {
  height: 600px;
}
body.front #header #block-views-homepage-slides-block .slide {
  height: 600px;
  position: relative;
  width: 100%;
  text-align: center;
}
body.front #header #block-views-homepage-slides-block .slide-bg {
  height: 600px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 0.5;
  -moz-opacity: 0.5;
  position: absolute;
  z-index: 1;
}
body.front #header #block-views-homepage-slides-block .slide-copy {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 3.2em;
  line-height: 1.25em;
  margin: 0px;
  width: 650px;
  top: 230px;
  margin-left: -325px;
  left: 50%;
  position: absolute;
  z-index: 2;
}
body.front #header .main-menu {
  margin: 0px;
  padding-right: 25px;
  position: absolute;
  top: 3em;
  left: 50%;
  z-index: 3;
  margin-left: -354px;
}
body.front #header .nav-services {
  position: absolute;
  bottom: 0px;
  z-index: 3;
  left: 50%;
  margin-left: -438px;
}
body.front #content {
  background: #ffffff url(../images/bg-bricks-top.jpg) no-repeat top;
  background-size: 100% auto;
  width: 100%;
}
body.front .node-page {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 80px;
}
body.front .view-case-studies {
  margin-bottom: 0px;
}
body.front .block-block.quote {
  width: 100%;
  background: #ffffff url(../images/bg-bricks-bottom.jpg) no-repeat bottom;
  background-size: 100% auto;
  margin-bottom: 0px;
  padding: 155px 0 220px;
}
body.front .block-block.quote .block-content {
  width: 680px;
  margin: 0 auto;
  background: transparent url(../images/quotes-home.png) no-repeat center 10px;
  padding: 0px 140px;
}
body.front #block-views-articles-block {
  background: transparent url(../images/bg-newspaper.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0 100px;
  margin-bottom: 0px;
}
body.front #block-views-articles-block h2.block-title {
  text-align: center;
  color: #ffffff;
  font-size: 1.3em;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 30px;
}
body.front #block-views-articles-block .view-content {
  width: 960px;
  height: 400px;
  margin: 0 auto;
}
body.front #block-views-articles-block .view-content .views-row {
  width: 304px;
  height: 400px;
  background: #fff;
  text-align: left;
  float: left;
  margin: 0 8px;
}
body.front #block-views-articles-block .view-content .views-row .views-field-nothing {
  height: 186px;
  position: relative;
}
body.front #block-views-articles-block .view-content .views-row .views-field-nothing img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
body.front #block-views-articles-block .view-content .views-row .views-field-nothing .overlay {
  background: transparent url(../images/overlay-black-gradient.png) no-repeat center bottom;
  top: 0px;
  width: 304px;
  height: 186px;
  position: absolute;
  z-index: 2;
}
body.front #block-views-articles-block .view-content .views-row .views-field-nothing .overlay .content {
  position: absolute;
  bottom: 0px;
  padding: 0 15px 10px;
}
body.front #block-views-articles-block .view-content .views-row .views-field-body {
  padding: 20px 15px 20px;
}
body.front #block-views-articles-block .view-content .views-row .views-field-view-node {
  margin: 0 15px;
}
body.front #block-views-articles-block .view-content .views-row .views-field-view-node a {
  color: #2a2a2a;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #2a2a2a;
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
body.front #block-views-articles-block .view-content .views-row .views-field-view-node a:hover {
  text-decoration: none;
  background: transparent;
  color: #2a2a2a;
}
.btn {
  color: #2a2a2a;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #2a2a2a;
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.btn:hover {
  text-decoration: none;
  background: transparent;
  color: #2a2a2a;
}
.btn-white {
  color: #ffffff;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.btn-white:hover {
  text-decoration: none;
  background: transparent;
  color: #ffffff;
}
p {
  margin: 0 0 1em;
}
img.image-right {
  float: right;
  margin: 15px 0px 25px 25px;
}
img.image-left {
  float: left;
  margin: 15px 25px 25px 0px;
}
blockquote {
  font-size: 2.2em;
  line-height: 1.25em;
  color: #000000;
  font-style: italic;
  margin: 1em 0;
}
blockquote p {
  margin: 0px;
}
.column-half {
  width: 42%;
  float: left;
  margin: 0 4% 40px;
}
.column-third {
  width: 27.33%;
  float: left;
  margin: 0 3% 40px;
}
.bricks {
  background: #ffffff url(../images/bg-bricks-bottom.jpg) no-repeat bottom;
  background-size: 100% auto;
}
.bricks-top {
  background: #ffffff url(../images/bg-bricks-top.jpg) no-repeat top;
  background-size: 100% auto;
}
.bricks-mobile {
  background: #ffffff url(../images/bg-bricks-bottom.jpg) no-repeat bottom;
  background-size: 720px auto;
}
.bricks-top-mobile {
  background: #ffffff url(../images/bg-bricks-top.jpg) no-repeat top;
  background-size: 720px auto;
}
.block-block {
  margin-bottom: 0px;
}
.block-block.dark h2.block-title {
  background: #47a9e1;
  text-align: center;
  color: #ffffff;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}
.block-block.dark h3 {
  color: #ffffff;
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.block-block.dark div,
.block-block.dark p {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  line-height: 1.5em;
}
.block-block.dark.about {
  background: url(../images/bg-about-block.jpg) no-repeat center center;
  background-size: 100% auto;
  background-attackment: fixed;
  padding: 30px 0 75px;
}
.block-block.dark.about .block-content {
  width: 960px;
  margin: 0 auto;
  height: 300px;
  padding-top: 60px;
}
.block-block.bricks {
  min-height: 300px;
  padding: 50px 0 150px;
}
.block-block .block-content {
  width: 960px;
  margin: 0 auto;
  line-height: 1.4em;
}
.region-sidebar-first h2.block-title {
  color: #47a9e1;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 1.25em;
  margin-bottom: 30px;
}
.region-sidebar-first .block-block,
.region-sidebar-first .block-views {
  padding: 0 30px 0 0;
  margin-bottom: 30px;
}
.region-sidebar-first .block-block .block-content,
.region-sidebar-first .block-views .block-content {
  width: 100%;
}
.region-sidebar-first .block-block.first,
.region-sidebar-first .block-views.first {
  padding-top: 60px;
}
.region-sidebar-first .recent-posts .views-row {
  margin-bottom: 20px;
}
.region-sidebar-first .recent-posts .views-field-title {
  margin-bottom: 5px;
}
.region-sidebar-first .recent-posts .views-field-title a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #555555;
  font-size: 1.3em;
  line-height: 1.3em;
}
.region-sidebar-first .recent-posts .views-field-title a:hover {
  color: #000000;
  text-decoration: none;
}
.region-sidebar-first .recent-posts .views-field-field-author {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.region-sidebar-first .block-menu-block {
  padding: 0 30px 0 0;
  margin-bottom: 30px;
}
.region-sidebar-first .block-menu-block .block-content {
  width: 100%;
}
.region-sidebar-first .block-menu-block ul.menu {
  margin: 0px;
  padding: 0px;
}
.region-sidebar-first .block-menu-block ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #cccccc;
}
.region-sidebar-first .block-menu-block ul.menu li a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.3em;
  display: block;
  padding: 10px 0;
  color: #555555;
}
.region-sidebar-first .block-menu-block ul.menu li a:hover {
  background: #ddd;
  color: #2a2a2a;
}
.region-sidebar-first .block-menu-block ul.menu li a.active {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.region-sidebar-first .block-menu-block.innovation-consulting h2.block-title {
  margin-bottom: 15px;
}
.region-sidebar-first .block-menu-block.innovation-consulting h2.block-title a {
  display: block;
  background: #eeb51c url(../images/icon-innovation.svg) no-repeat center 50px;
  background-size: 60px 60px;
  width: 70px;
  height: 115px;
  text-indent: -5000px;
}
.region-sidebar-first .block-menu-block.design-thinking h2.block-title {
  margin-bottom: 15px;
}
.region-sidebar-first .block-menu-block.design-thinking h2.block-title a {
  display: block;
  background: #dc0000 url(../images/icon-design-thinking.svg) no-repeat center 50px;
  background-size: 60px 60px;
  width: 70px;
  height: 115px;
  text-indent: -5000px;
}
.region-sidebar-first .block-menu-block.accelerated-design-events h2.block-title {
  margin-bottom: 15px;
}
.region-sidebar-first .block-menu-block.accelerated-design-events h2.block-title a {
  display: block;
  background: #d45000 url(../images/icon-accelerated-design.svg) no-repeat center 50px;
  background-size: 60px 60px;
  width: 70px;
  height: 115px;
  text-indent: -5000px;
}
.region-sidebar-first .block-menu-block.futures h2.block-title {
  margin-bottom: 15px;
}
.region-sidebar-first .block-menu-block.futures h2.block-title a {
  display: block;
  background: #d83577 url(../images/icon-futures.svg) no-repeat center 50px;
  background-size: 60px 60px;
  width: 70px;
  height: 115px;
  text-indent: -5000px;
}
.region-sidebar-first .block-menu-block.graphics-facilitation h2.block-title {
  margin-bottom: 15px;
}
.region-sidebar-first .block-menu-block.graphics-facilitation h2.block-title a {
  display: block;
  background: #8b67ba url(../images/icon-graphics.svg) no-repeat center 50px;
  background-size: 60px 60px;
  width: 70px;
  height: 115px;
  text-indent: -5000px;
}
.region-sidebar-first .block-menu-block.events-conferences h2.block-title {
  margin-bottom: 15px;
}
.region-sidebar-first .block-menu-block.events-conferences h2.block-title a {
  display: block;
  background: #47a9e1 url(../images/icon-events.svg) no-repeat center 50px;
  background-size: 60px 60px;
  width: 70px;
  height: 115px;
  text-indent: -5000px;
}
.sidebar-first #content {
  padding: 40px 30px;
}
.section-services .region-sidebar-first .block-menu-block li.first {
  display: none;
}
.node-type-case-study #main {
  width: 100%;
}
.node-type-case-study .node-case-study {
  width: 100%;
}
.node-type-case-study .case-study-header {
  background-size: 100% auto;
  padding: 150px 0 1em;
  margin-top: 1px;
}
.node-type-case-study .case-study-header h1 {
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 0px;
  font-style: normal;
}
.node-type-case-study .case-study-header h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2.2em;
  line-height: 1.25em;
  font-style: italic;
  padding-bottom: 80px;
  width: 460px;
  margin: 0 auto;
  color: #ffffff;
}
.node-type-case-study .case-study-header .category {
  background: #47a9e1;
  padding: 8px 0;
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
}
.node-type-case-study .case-study-header .category strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.node-type-case-study .first-row,
.node-type-case-study .third-row,
.node-type-case-study .fifth-row {
  width: 960px;
  margin: 0 auto;
  clear: both;
  padding: 35px 0;
}
.node-type-case-study .first-row p,
.node-type-case-study .third-row p,
.node-type-case-study .fifth-row p {
  font-size: 1.3em;
  line-height: 1.3em;
  line-height: 1.5em;
}
.node-type-case-study .first-row blockquote,
.node-type-case-study .third-row blockquote,
.node-type-case-study .fifth-row blockquote {
  margin-bottom: 1.25em;
}
.node-type-case-study .first-row blockquote p,
.node-type-case-study .third-row blockquote p,
.node-type-case-study .fifth-row blockquote p {
  font-size: 1em;
}
.node-type-case-study .second-row,
.node-type-case-study .fourth-row {
  clear: both;
  padding: 40px 0 60px;
}
.node-type-case-study .second-row .content,
.node-type-case-study .fourth-row .content {
  width: 960px;
  margin: 0 auto;
}
.node-type-case-study .second-row .content .sidebar,
.node-type-case-study .fourth-row .content .sidebar {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 20px 35px;
  line-height: 1.5em;
}
.node-type-case-study .second-row .content .sidebar.pos0,
.node-type-case-study .fourth-row .content .sidebar.pos0 {
  margin-left: 50%;
}
.node-type-case-study .second-row .content .sidebar.pos1,
.node-type-case-study .fourth-row .content .sidebar.pos1 {
  margin-right: 50%;
}
.view-case-studies {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.view-case-studies h2.block-title {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: transparent url(../images/double-line-title.png) no-repeat center 3px;
  margin-bottom: 15px;
}
.view-case-studies .views-row {
  width: 304px;
  float: left;
  height: 385px;
  margin: 0 24px 24px 0;
}
.view-case-studies .views-row.views-row-3,
.view-case-studies .views-row.views-row-6,
.view-case-studies .views-row.views-row-9,
.view-case-studies .views-row.views-row-12,
.view-case-studies .views-row.views-row-15 {
  margin-right: 0px;
}
.view-case-studies .views-row .views-field-nothing {
  position: relative;
}
.view-case-studies .views-row .views-field-nothing img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.view-case-studies .views-row .views-field-nothing .overlay {
  text-align: center;
  color: #ffffff;
  background: transparent url(../images/overlay-black-gradient.png) no-repeat center bottom;
  top: 0px;
  width: 304px;
  height: 385px;
  position: absolute;
  z-index: 2;
}
.view-case-studies .views-row .views-field-nothing .overlay .content {
  position: absolute;
  bottom: 0px;
  padding: 0 15px 10px;
}
.view-case-studies .views-row .views-field-nothing .overlay .content a {
  color: #ffffff;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 10px;
}
.view-case-studies .views-row .views-field-nothing .overlay .content a:hover {
  text-decoration: none;
  background: transparent;
  color: #ffffff;
}
.view-case-studies .overlay {
  background: transparent url(../images/overlay-black-gradient.png) no-repeat center bottom;
  top: 0px;
  width: 304px;
  height: 186px;
  position: absolute;
  z-index: 2;
}
.view-case-studies .overlay .content {
  position: absolute;
  bottom: 0px;
  padding: 0 15px 10px;
}
.view-case-studies.more-case-studies {
  margin-top: 80px;
}
.page-node-2 #main {
  width: 100%;
}
.page-node-2 h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 3.2em;
  line-height: 1.25em;
  font-style: normal;
  color: #2a2a2a;
}
.services-one {
  background: #ffffff url(../images/bg-bricks-lamp.jpg) no-repeat center bottom;
  background-size: 100% auto;
  padding: 30px 0 100px;
  margin-bottom: 0px;
}
.services-one h2 {
  margin: 0px 0px 1em;
}
.services-one .block-content {
  width: 860px;
}
.services-one .indent {
  margin-left: 115px;
}
.services-one .flag {
  width: 90px;
  padding: 80px 0 10px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.3em;
  text-align: center;
  float: left;
  line-height: 1.1em;
}
.services-one .flag.innovation-consulting {
  background: #eeb51c url(../images/icon-innovation.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-one .flag.accelerated-design {
  background: #d45000 url(../images/icon-accelerated-design.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-one .flag.design-thinking {
  background: #dc0000 url(../images/icon-design-thinking.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-one .flag.futures {
  background: #d83577 url(../images/icon-futures.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-one .flag.graphics {
  background: #8b67ba url(../images/icon-graphics.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-one .flag.events {
  background: #47a9e1 url(../images/icon-events.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-one .column-half {
  width: 44%;
  float: left;
  margin: 0 3% 40px;
}
.services-two {
  background: #606060 url(../images/bg-services-dark.jpg) no-repeat left center;
  color: #ffffff;
  padding: 60px 0 80px;
  margin-bottom: 0px;
}
.services-two h2 {
  margin: 0px 0px 1em;
}
.services-two .block-content {
  width: 860px;
}
.services-two .indent {
  margin-left: 115px;
}
.services-two .flag {
  width: 90px;
  padding: 80px 0 10px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.3em;
  text-align: center;
  float: left;
  line-height: 1.1em;
}
.services-two .flag.graphics {
  background: #8b67ba url(../images/icon-graphics.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-two .flag.events {
  background: #47a9e1 url(../images/icon-events.svg) no-repeat center 10px;
  background-size: 60px 60px;
}
.services-two .column-half {
  width: 44%;
  float: left;
  margin: 0 3% 40px;
}
.section-services.sidebar-first h1 {
  text-align: left;
}
.page-node-7 h1 {
  color: #eeb51c;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-8 h1 {
  color: #d45000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-9 h1 {
  color: #dc0000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-10 h1 {
  color: #d83577;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-11 h1 {
  color: #8b67ba;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-12 h1 {
  color: #47a9e1;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-30 h1 {
  color: #d45000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-31 h1 {
  color: #dc0000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-32 h1 {
  color: #dc0000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-33 h1 {
  color: #dc0000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-34 h1 {
  color: #dc0000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.page-node-35 h1 {
  color: #dc0000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.design-thinking-programs {
  padding: 20px 0;
  margin-bottom: 80px;
}
.design-thinking-programs h2.block-title {
  display: none;
}
.design-thinking-programs .block-content {
  width: 100%;
}
.design-thinking-programs .block-content h2 {
  font-size: 2.2em;
  line-height: 1.25em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.design-thinking-programs .block-content .inner-sidebar {
  width: 150px;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.3em;
  color: #000000;
}
.design-thinking-programs .block-content .indent {
  margin-left: 175px;
}
.node-type-article #page {
  background: #ffffff url(../images/bg-blog.jpg) no-repeat center bottom;
  background-size: 100% auto;
  background-attachment: fixed;
}
.node-type-article #content {
  background: #fff;
}
.page-node-4 #main {
  width: 100%;
}
.latest-blog {
  width: 760px;
  margin: 0 auto;
  min-height: 304px;
  margin-bottom: 40px;
}
.latest-blog .views-field-field-image {
  float: left;
}
.latest-blog .views-field-title {
  margin-left: 330px;
  font-weight: 700;
  font-family: inherit;
  font-size: 1.6em;
  line-height: 1.25em;
}
.latest-blog .views-field-field-author {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.3em;
  margin-left: 330px;
}
.latest-blog .views-field-body {
  margin: 24px 0 12px 330px;
}
.latest-blog .views-field-view-node {
  margin-left: 330px;
}
.latest-blog .views-field-view-node a {
  color: #2a2a2a;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #2a2a2a;
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.latest-blog .views-field-view-node a:hover {
  text-decoration: none;
  background: transparent;
  color: #2a2a2a;
}
.all-past-blogs {
  background: transparent url(../images/bg-newspaper.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0 100px;
  margin-bottom: 0px;
}
.all-past-blogs h2.block-title {
  text-align: center;
  color: #ffffff;
  font-size: 1.3em;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 30px;
}
.all-past-blogs .view-content {
  width: 960px;
  height: 400px;
  margin: 0 auto;
}
.all-past-blogs .view-content .views-row {
  width: 304px;
  height: 400px;
  background: #fff;
  text-align: left;
  float: left;
  margin: 0 8px;
}
.all-past-blogs .view-content .views-row .views-field-nothing {
  height: 186px;
  position: relative;
}
.all-past-blogs .view-content .views-row .views-field-nothing img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.all-past-blogs .view-content .views-row .views-field-nothing .overlay {
  background: transparent url(../images/overlay-black-gradient.png) no-repeat center bottom;
  top: 0px;
  width: 304px;
  height: 186px;
  position: absolute;
  z-index: 2;
}
.all-past-blogs .view-content .views-row .views-field-nothing .overlay .content {
  position: absolute;
  bottom: 0px;
  padding: 0 15px 10px;
}
.all-past-blogs .view-content .views-row .views-field-body {
  padding: 20px 15px 20px;
}
.all-past-blogs .view-content .views-row .views-field-view-node {
  margin: 0 15px;
}
.all-past-blogs .view-content .views-row .views-field-view-node a {
  color: #2a2a2a;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #2a2a2a;
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.all-past-blogs .view-content .views-row .views-field-view-node a:hover {
  text-decoration: none;
  background: transparent;
  color: #2a2a2a;
}
.page-node-5 #main {
  width: 100%;
}
.team-members {
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
}
.team-members h2.block-title {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: transparent url(../images/double-line-title.png) no-repeat center 3px;
  margin-bottom: 40px;
}
.team-members td {
  padding: 0px;
  vertical-align: top;
  width: 50%;
}
.team-members .views-field-field-image {
  float: left;
  margin-left: 20px;
}
.team-members .views-field-title {
  margin: 1em 20px 1em 175px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 1.6em;
  line-height: 1.25em;
}
.team-members .views-field-body {
  margin: 0 20px 30px 175px;
}
#footer-wrapper {
  background: #000000 url(../images/bg-footer.jpg) no-repeat center 25px;
  padding-bottom: 50px;
}
#footer-wrapper.mobile #footer {
  width: 100%;
}
#footer-wrapper.mobile #footer .menu-services {
  width: 90%;
  padding: 0 5%;
  margin: 0px;
}
#footer {
  padding: 80px 0 20px;
  width: 932px;
  margin: 0 auto;
  border-bottom: 1px solid #2c2a2a;
  color: #aaaaaa;
}
#footer .menu-services {
  margin: 0 0 0 50px;
  float: left;
  width: 400px;
}
#footer .menu-services h2 {
  font-size: 1em;
  line-height: 1.3em;
  margin: 0 0 12px;
}
#footer .menu-services h2 a {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: 2px;
}
#footer .menu-services ul.menu {
  margin: 0px;
  padding: 0px;
}
#footer .menu-services ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0 0 12px;
  padding: 0px;
  width: 50%;
  float: left;
}
#footer .menu-services ul.menu li a {
  color: #aaaaaa;
}
#footer .menu-column2 {
  margin: 0 0 0 20px;
  width: 200px;
  float: left;
  height: 120px;
}
#footer .menu-column2 .block-content ul {
  margin: 0px;
  padding: 0px;
}
#footer .menu-column2 .block-content ul li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0 0 12px;
  padding: 0px;
}
#footer .menu-column2 .block-content ul li a {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: 2px;
}
#footer #block-search-form {
  width: 200px;
  float: left;
  margin: 0 0 0 20px;
  padding-top: 40px;
}
#footer #block-search-form .container-inline {
  border: 1px solid #aaaaaa;
}
#footer #block-search-form input.form-text {
  background: #000;
  color: #aaaaaa;
  border: none;
  line-height: 14px;
  font-size: 14px;
  padding: 8px;
  width: 150px;
}
#footer #block-search-form input.form-submit {
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  padding: 0px;
  text-indent: -5000px;
  border: none;
  background: transparent url(../images/search-white.svg) no-repeat center center;
  background-size: 16px 16px;
}
body.mobile {
  font-size: 11px;
}
body.mobile .regular,
body.mobile .reg {
  font-size: 1em;
  line-height: 1.3em;
}
body.mobile .med {
  font-size: 1.25em;
  line-height: 1.25em;
}
body.mobile .large {
  font-size: 1.4em;
  line-height: 1.25em;
}
body.mobile .xlarge {
  font-size: 2em;
  line-height: 1.25em;
}
body.mobile .xxlarge,
body.mobile h1 {
  font-size: 3em;
  line-height: 1em;
}
body.mobile .small {
  font-size: 0.75em;
}
body.mobile .xsmall {
  font-size: 0.5em;
}
body.mobile #header {
  background: #000000 url(../images/header-default.jpg) no-repeat center center;
  background-size: 720px auto;
}
body.mobile #header .region {
  height: auto;
}
body.mobile #header .main-menu {
  display: none;
}
body.mobile #header .mobile-main-menu {
  display: block;
}
body.mobile #header .mobile-main-menu .block-content {
  width: 100%;
}
body.mobile #header #block-views-homepage-slides-block {
  display: none;
}
body.mobile #header .nav-services {
  display: none;
}
body.mobile #content {
  padding-top: 25px;
}
body.mobile #content .column-half,
body.mobile #content .column-third {
  width: 94%;
  margin: 0 3% 25px;
  float: none;
}
body.mobile .view-case-studies {
  width: 100%;
}
body.mobile .view-case-studies h2.block-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  background: transparent url(../images/double-line-title.png) no-repeat center 2px;
  background-size: 800px auto;
  margin-bottom: 15px;
}
body.mobile .services-one {
  padding-top: 0px;
  background: #ffffff url(../images/bg-bricks-bottom.jpg) no-repeat bottom;
  background-size: 720px auto;
  padding-bottom: 35px;
}
body.mobile .services-one .block-content {
  width: 100%;
}
body.mobile .services-one .block-content .flag {
  width: 80px;
}
body.mobile .services-one .block-content .indent {
  margin-left: 90px;
}
body.mobile .services-two .block-content {
  width: 100%;
}
body.mobile .services-two .block-content .flag {
  width: 80px;
}
body.mobile .services-two .block-content .indent {
  margin-left: 90px;
}
body.mobile.front #header {
  background: #000000 url(../images/header-default.jpg) no-repeat center center;
  background-size: 720px auto;
  color: #ffffff;
}
body.mobile.front .node-page {
  width: 100%;
  padding: 0px 0px 30px;
}
body.mobile.front .view-case-studies {
  width: 100%;
}
body.mobile.front .quote {
  width: 100%;
}
body.mobile.front .quote .block-content {
  width: 94%;
  padding: 0 3%;
}
body.mobile.front .block-content {
  width: 100%;
}
body.mobile.front #block-views-articles-block .view-content {
  width: 100%;
}
body.mobile.front #content {
  background: #ffffff url(../images/bg-bricks-top.jpg) no-repeat top;
  background-size: 720px auto;
}
.ui-accordion .ui-accordion-header {
  padding: 10px;
  color: #2a2a2a;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 0px;
  background: #ddd;
  margin-bottom: 1px;
}
.ui-accordion .ui-accordion-header:hover {
  cursor: pointer;
}
.ui-accordion .ui-accordion-header.ui-state-active {
  color: #ffffff;
  background: #47a9e1;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  display: none;
}
.ui-accordion .ui-accordion-content {
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background: transparent;
  padding: 15px 10px 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
